html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3f3f5;
  color : #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#mainBox {
  /* display : flex; */
}

.top_center, .bottom_left, .bottom_center, .bottom_right {
  border : 1px solid;
}

.top_center {
  height : 40vw;
}

.bottom {
  display : flex;
  flex-direction : row;
  flex-basis : 0;
  justify-content : space-between;
  height : 30vw;
  flex-wrap : wrap;
}

.top_center h1 {
  text-align: center;
}
.bottom_left, .bottom_center, .bottom_right {
  flex-grow: 1;
}
